<div class="row">
  <div class="col-md-6 offset-3">
    <h1>{{ title }}</h1>
    <form
      class="form-container"
      (ngSubmit)="onSubmit()"
      [formGroup]="bookForm!"
    >
      <mat-form-field>
        <input
          matInput
          type="text"
          placeholder="Kategori Seç"
          formControlName="categoryBy"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete
          #auto="matAutocomplete"
          [displayWith]="displayCategoryName"
        >
          <mat-option *ngFor="let category of categories " [value]="category">{{
            category.name
          }}</mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <div>
        <input type="file" (change)="uploadImg($event)" />
      </div>

      <mat-form-field class="mt-1">
        <input matInput formControlName="title" placeholder="Kitap Başlığı" />
        <mat-error *ngIf="bookForm!.controls['title'].invalid">
          <div *ngIf="bookForm!.controls['title'].hasError('required')">Bu alan boş bırakılamaz !</div>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="author" placeholder="Yazar" />
        <mat-error *ngIf="bookForm!.controls['author'].invalid">
          <div *ngIf="bookForm!.controls['author'].hasError('required')">Bu alan boş bırakılamaz !</div>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="price" placeholder="Fiyat" />
        <mat-error *ngIf="bookForm!.controls['price'].invalid">
          <div *ngIf="bookForm!.controls['price'].hasError('required')">Bu alan boş bırakılamaz !</div>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="stock" placeholder="Stok" />
        <mat-error *ngIf="bookForm!.controls['stock'].invalid">
          <div *ngIf="bookForm!.controls['stock'].hasError('required')">Bu alan boş bırakılamaz !</div>
        </mat-error>
      </mat-form-field>

      <div class="row justify-content-center">
        <button class="mt-2 col-md-4" type="submit" mat-raised-button color="primary">
          {{ btnText }}
        </button>

      </div>
    </form>
  </div>
</div>
