/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h1{
  display:inline;
  color: black;
}
a{
  text-decoration: none;
}


.card-book{
  width: 250px;
  margin: 0px 10px 10px 10px;
  float: left;
}

.card-book:hover{
  box-shadow: 5px 10px 18px #888888;
}

.card-book img {
  width: 230px;
  height: 350px;
  margin: auto;
}
